.app{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: start;
    color: black;
    
    background: url('../asserts/loginimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1365px;
    height: 100vh;
}
.log-div{
     
     align-items:left;
     justify-content:start;
    color: black;
    padding: 40px;
    background-color: #fafafa;
    background-position: center;
    box-shadow: 10px 10px 10px black;
    border-radius: 5px;
    margin-left:120px
}
.signup-div{
    background-color:#eeeeee;
    width: 450px;
    height: 600px;
    padding: 20px;
}

.nav-item1{
    display: flex;
    flex: 4;
}


.about-div-2{
 background-color:#f5f5f5; 
 width: 600px; 
 padding: 40px; 
}
.about-flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    padding-left: 60px;
    padding-right: 60px;
}




/* #Help me page styling code */
.helpme-div{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.helpme-item1{
    height: 150px;
    width: 200px;
    background-color:white;
    margin-right: 10px;
    border-radius: 5px;
}
.helpme-item2{
    height: 150px;
    width: 250px;
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
}
.helpme-dashboard{
    background-color: #bdbdbd;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 900px;
    height: 650px;
}


.helepme-head{
    background-color:#3f51b5;
    color: white;
    width:100%;
    height:60px;
    align-items:center;
    justify-content:center;
    display:flex;
    border-radius: 5px;
}
.teacher-dashboard{
    
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top:70px;
    padding-top: 10px;
    width: 1290px;
    height: 360px;
}
.teacher-div1{
    
    background-color: white;
    margin-right: 5px;
    border-radius: 5px;
}
.teacher-div2{
   
    margin-left: 100px;
    border-radius: 5px;
}
.teacher-div{
    display: flex;
    margin-top:10px;
    
}
.teacherButton{
    
    display:flex;
    justify-content:space-between;
  width: 125px;
  flex-grow:0;

}
.rating-item1{
    background-color:white;
    margin-right: 10px;
    border-radius: 5px;
    width: 500px;;
    height:130px;
    margin-top:0px;

}
.subject-item2{
    background-color:white;
   margin-top:5px;
    border-radius: 5px;
    width: 690px;
    height:130px;
    margin-left: 45px;
}
.tablecell{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.textdiv{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 8px;
}
.loaderdiv{
    display:flex;
    flex-direction:center;
    justify-content:center;
}
.dashcontainer{
    color: black;
    padding: 20px;
    background-color: #fafafa;
    background-position: center;
    box-shadow: 5px 5px 5px #bdbdbd;
    border-radius: 5px;
    margin-left:30px;
    margin-right:30px;
    margin-top: 15px;
}
.cardContainer{
    width: 90%;
    height:30vh;
    border:2px;
    border-radius:4px;
    box-shadow: 10px 10px 10px #9e9e9e;
    margin: 50px;
    padding:10px;
    margin-bottom:20px;
}

